<!DOCTYPE html>
<html>
<head>
    <title>Устройства</title>
</head>
<body>
    <h1>Список устройств</h1>
    <form method="get">
        <label for="category">Фильтр по категории:</label>
        <select name="category" id="category">
            <option value="">Все категории</option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фильтровать</button>
    </form>
    <div>
        {% for device in devices %}
            <div>
                <h2><a href="{% url 'device_detail' %}">{{ device.name }}</a></h2>
                <p>Категория: {{ device.category.name }}</p>
                <p>Цена: {{ device.price }} ₽</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>